.title {
    text-align: center;
  }
  .form {
    border: solid black 1px;
  }
  .elem {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 20px;
  }
  .charts {
    text-align: center;
    margin-bottom: 5rem;
  }
  .chart {
    border: solid #589636 1px;
    margin: 5px;
    display: inline-block;
  }

/* .gridWe {
  display: grid;
  gap: 28rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
} */