.content {
  position: relative;
  height: 30em;

  &__background,
  &__background__shadow,
  &__background__image,
  &__area {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__background {
    left: 0;
    right: 0;

    &__shadow {
      left: 0;
      background-image: linear-gradient(to right,#4B9C8E,#076F55);
      width: 30%;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(to right,#4B9C8E,#076F55);
        top: 0;
        bottom: 0;
        left: 100%;
        width: 275px;
      }
    }

    &__image {
      right: 0;
      width: 70%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      z-index: 1;
    }
  }
 // ORIGINAL #076F55
  &__area {
    left: 0;
    right: 0;
    height: 80%;
    z-index: 3;
    background-image: linear-gradient(to right,#4B9C8E,#014635);

    &__container {
      padding: 1.5em 4.5em;
      color: rgb(0, 0, 0);
    }
  }

  &__title {
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
  &__subtitle {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
  &__link {
    text-decoration: none;
  }
  

  &__description {

    //agrandar la fuente de la descripcion del carousel principal para que se vea bien 
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    margin-top: 1em;
    width: 69em;

    & .MuiInputBase-input.Mui-disabled{
      color: rgb(255, 255, 255);
    }
  }

  &__close {
    color: rgb(255, 255, 255);
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 2em;
    right: 3.4em;
  }

  &__denuncia{
    color: rgb(255, 255, 255);
    width: 4em;
    height: 4em;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 13em;
    right: 3em;
  }

  &__read{
    color: rgb(255, 255, 255);
    width: 4em;
    height: 4em;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 7em;
    right: 3em;
  }

  &__read-button{
    color: rgb(255, 255, 255);
  }
}


//efecto de temblor SCSS cuando es visible

.content__read{
  animation: shake-baidu 2s ease 0s infinite;
    animation-play-state: running;
    @keyframes shake-baidu {
      //dos transforms
      from    { transform:  scale(1.2) rotate(0deg); }
      4%      { transform: scale(1.4) rotate(7deg); }
      12.5%   { transform: scale(1.4) rotate(-7deg); }
      21%     { transform: rotate(7deg); }
      29%     { transform: rotate(-7deg); }
      37.5%   { transform: rotate(7deg); }
      46%     { transform: rotate(-7deg); }
      50%   { transform: rotate(7deg); }
      61%     { transform: rotate(-7deg); }
      70%,to  { transform: rotate(0deg); }
}
}
//efecto de cerrar el modal con un icono de cruz en el carousel principal de la pagina principal de la aplicacion
.content__close:hover{
  transform: scale(1.5);
  cursor: pointer;
}
.content_denuncia:hover{
  cursor: pointer;
}
.content__subtitle:hover{
  color:#24ecba;
  cursor: pointer;
}