.item {
  flex: 0 0 10vw;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    vertical-align: center;
  }
  .numero{
  position: absolute;
 
  z-index: 1;
  top: 0px;
  margin-bottom: 0px;
  bottom: 0px;//COn este recorto
  @media (min-width: 500px) {
    margin-top: 28%;
    left: 25%;
    font-size: 13.8vw;
    }
  @media (min-width: 750px) {
    margin-top: 13%;
    left: 10%;
    font-size: 13.8vw;
    }
    @media (min-width: 900px) {
      margin-top: 10%;
      left: 13%;
      font-size: 14.8vw;
      }
  @media (min-width: 1200px) {
    margin-top: 10%;
    left: 19%;
    font-size: 14.8vw;
    }
    margin-top: 20%;
    left: 22%;
    font-size: 25.8vw;
   
  opacity: 1;
  font-style: normal;
  background-image: linear-gradient(to right, #ffffff00, #08b688);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
