.content {
  position: relative;
  &__background,
  &__background__shadow,
  &__background__image,
  &__area {
    top: 0;
    bottom: 0;
  }

  &__background {
    left: 0;
    right: 0;

    &__shadow {
      left: 0;
      background-image: linear-gradient(to right,#4B9C8E,#076F55);
      width: 30%;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(to right,#4B9C8E,#076F55);
        width: 275px;
      }
    }

    &__image {
      right: 0;
      width: 70%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      z-index: 1;
    }
  }
 // ORIGINAL #076F55
  &__area {
    z-index: 3;
    height: 100%;
    background-image: linear-gradient(to right,#4B9C8E,#014635);
    &__container {
      padding: 0.5em 2.5em;
      color: rgb(0, 0, 0);
    }
  }

  &__title {
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
  &__subtitle {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
  &__link {
    text-decoration: none;
  }
  

  &__description {

    //agrandar la fuente de la descripcion del carousel principal para que se vea bien 
    min-height: 6em;
    color: rgb(255, 255, 255);
    margin-top: 0.3em;
    width: 86%;
    @media (min-width: 900px) {
      width: 90%;
    }
  }

  &__close {
    color: rgb(255, 255, 255);
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    @media (min-width: 600px) {
      top: 2em;
      right: 4.4em; 
    }
    top: 1.5em;
    right: 2.5em;
  }

  &__denuncia{
    color: rgb(255, 255, 255);
    width: 4em;
    height: 4em;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    @media (min-width: 600px) {
     
    top: 13em;
    right: 4em;
    }
     top: 11.5em;
     right: 1.8em;
  }

  &__read{
    color: rgb(255, 255, 255);
    
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    @media (min-width: 600px) {
      width: 4em;
      height: 4em;
      top: 7em;
      right: 4em;
    }
    width: 3em;
    height: 3em;
    top: 6.5em;
    right: 2.6em;
    //al poner el mouse sobre el boton de leer mas se cambia el color del boton
    
  }

  &__read-button{
    color: rgb(255, 255, 255);
  }
}
//si el tamaño de la pantalla es menor a 768px quitar la animacion del boton read


//efecto de temblor SCSS cuando es visible

.content__read{
  @media (min-width: 600px) {
  animation: shake-baidu 2s ease 0s infinite;
    animation-play-state: running;
    @keyframes shake-baidu {
      //dos transforms
      from    { transform:  scale(1.2) rotate(0deg); }
      4%      { transform: scale(1.4) rotate(7deg); }
      12.5%   { transform: scale(1.4) rotate(-7deg); }
      21%     { transform: rotate(7deg); }
      29%     { transform: rotate(-7deg); }
      37.5%   { transform: rotate(7deg); }
      46%     { transform: rotate(-7deg); }
      50%   { transform: rotate(7deg); }
      61%     { transform: rotate(-7deg); }
      70%,to  { transform: rotate(0deg); }
    }
  }
  animation: shake-baidu 2s ease 0s infinite;
  animation-play-state: running;
  @keyframes shake-baidu {
    //dos transforms
    from    { transform:  scale(1.1) rotate(0deg); }
    4%      { transform: scale(1.15) rotate(6deg); }
    12.5%   { transform: scale(1.15) rotate(-6deg); }
    21%     { transform: rotate(7deg); }
    29%     { transform: rotate(-7deg); }
    37.5%   { transform: rotate(7deg); }
    46%     { transform: rotate(-7deg); }
    50%   { transform: rotate(7deg); }
    61%     { transform: rotate(-7deg); }
    70%,to  { transform: rotate(0deg); }
  }
}
//efecto de cerrar el modal con un icono de cruz en el carousel principal de la pagina principal de la aplicacion
.content__close:hover{
  transform: scale(1.5);
  cursor: pointer;
}
.content_denuncia:hover{
  cursor: pointer;
}
.content__subtitle:hover{
  color:#24ecba;
  cursor: pointer;
}