.slider {
  display: flex;
  position: relative;

  &__container {
    display: flex;
    padding: 0 3rem;
    transition: transform 300ms ease 100ms;
    z-index: 3;
    width: 100%;
  }

  /*hover: La pseudo-clase :hover de CSS coincide cuando el usuario interactúa 
  con un elemento con un dispositivo señalador, pero no necesariamente lo activa. 
  Generalmente se activa cuando el usuario se desplaza sobre un elemento con 
  el cursor (puntero del mouse).*/

  &:not(&--open) .item:hover .show-details-button {
    opacity: 1;
  }

  &:not(&--open) .item:hover {
    transform: scale(1.3) !important;
    //border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.67);
  }

  &:not(&--open):hover .item {
    transform: translateX(-25%);
  }

  &:not(&--open) .item:hover ~ .item {
    transform: translateX(25%);
  }
}
